<template>
  <sui-container text v-if="launches">
    <sui-grid :columns="2">
      <sui-grid-column v-for="launch in launches.launches" v-bind:key="launch">
        <sui-card class="fluid">
          <sui-image :src="launch.mission.missionPatchSmall" size="medium" :centered="true" />
          <sui-card-content>
            <sui-card-header class="left floated">{{launch.mission.name}}</sui-card-header><br/>
            <sui-card-meta class="left floated">$5000</sui-card-meta>
          </sui-card-content>
        </sui-card>
      </sui-grid-column>
    </sui-grid>
  </sui-container>
</template>

<script>
import gql from 'graphql-tag';

export default {
  data() {
    return {
      launches: null
    }
  },

  apollo: {
    // They key is the name of the data property
    // on the component that you intend to populate.
    launches: {
      // Yes, this looks confusing.
      // It's just normal GraphQL.
      query: gql`
        query GetLaunches {
          launches(pageSize: 5) {
            launches {
              id
              site
              rocket {
                id
                name
                type
              }
              mission {
                name
                missionPatchSmall
                missionPatchLarge
              }
            }
          }
        }
      `,

      // Apollo maps results to the name of the query, for caching.
      // So to update the right property on the componet, you need to
      // select the property of the result with the name of the query.
      update: result => result.launches,
    }
  }
}
</script>
